#scene1 {
  align-items: flex-start;
  background-image: url(./img/kueski_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  filter: blur(5rem);
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
  opacity: 0;
  padding: 0 12.5vw;
  position: relative;
  transition: .5s;
  transition-delay: .2s;

  h1 {
    color: white;
    font-size: 8rem;
    font-weight: 600;
    margin-left: -1rem;
    line-height: 1.2;
  }

  h2 {
    color: white;
    font-size: 2rem;
  }
}

#scene1:focus {
  opacity: 1;
  filter: blur(0);
  translate: 0 0;
}

